* {
    box-sizing: border-box;
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: arial,\\5B8B\4F53;
    font-size: 100%;
    vertical-align: baseline
}

body {
    line-height: 1;
    color: #000;
    background: #fff
}

ol,ul {
    list-style: none;
}

/*去掉Iphone的按钮默认样式*/
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance: none;
    -moz-appearance: none;
}

input, textarea, select {
	font-size:1em;
	font-size:100%;
	font-family:arial;
	font-family:inherit;
}
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
}

figure, form, fieldset {
	border:0;
	margin:0;
	padding:0
}

a, div, span, button, input {/* 1.去除android a/button/input标签被点击时产生的边框 2.去除ios a标签被点击时产生的半透明灰色背景 */
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}

h4, h5, h6 {
	font-size:1em;
}

dl {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
dt {
	margin-bottom: 5px;
}
dd {
	line-height: 20px;
	font-size: 12px;
}

/*image with no-border*/
a img {
	border:none;
}

input.radius {
	padding-left: .6em;
	padding-right: .6em;
}

input, select, textarea, h4, h5 {
	font-size: 100%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: none
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

i {
	font-style: inherit;
}

p > a {
	color: #55acef;
}

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('iconfont.woff') format('woff'), /* chrome, firefox */  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before { content: "\e616"; }
.icon-edit:before { content: "\e617"; }
.icon-location:before { content: "\e618"; }
.icon-phone:before { content: "\e619"; }
.icon-unfold:before { content: "\e61a"; }
.icon-warn:before { content: "\e61b"; }
.icon-address:before { content: "\e606"; }
.icon-search:before { content: "\e624"; }
.icon-dianzan:before { content: "\e628"; }
.icon-goumai:before { content: "\e60f"; }
.icon-weixin:before { content: "\e608"; }
.icon-chenggong:before { content: "\e601"; }
.icon-zhanghao:before { content: "\e609"; }
.icon-icon4:before { content: "\e626"; }
.icon-zhuanguijifen:before { content: "\e610"; }
.icon-dingdan:before { content: "\e611"; }
.icon-iconfontchongzhi:before { content: "\e602"; }
.icon-3:before { content: "\e60a"; }
.icon-wodeyongjin:before { content: "\e603"; }
.icon-zhanghao1:before { content: "\e60b"; }
.icon-tishi:before { content: "\e604"; }
.icon-dianpu:before { content: "\e600"; }
.icon-sponsor:before { content: "\e61d"; }
.icon-back:before { content: "\e61c"; }
.icon-quan:before { content: "\e612"; }
.icon-woguanlidedianpu:before { content: "\e625"; }
.icon-caidan:before { content: "\e61e"; }
.icon-lijigoumai:before { content: "\e613"; }
.icon-shibai:before { content: "\e607"; }
.icon-xiangshang:before { content: "\e623"; }
.icon-comiisgonggao:before { content: "\e627"; }
.icon-shouji:before { content: "\e60c"; }
.icon-jifenduihuan:before { content: "\e614"; }
.icon-iconfenxiaoguanli:before { content: "\e605"; }
.icon-jingshi:before { content: "\e60e"; }
.icon-goumai1:before { content: "\e615"; }
.icon-jiahao1:before { content: "\e61f"; }
.icon-jianhao:before { content: "\e620"; }
.icon-xuanze:before { content: "\e621"; }
.icon-dingdan1:before { content: "\e622"; }
.icon-mima:before { content: "\e60d"; }

.m5 {
	margin-left: 5px;
}
.mt0 {
	margin-top: 0px!important;
}
.mt5 {
	margin-top: 5px!important;
}
.mb5 {
	margin-bottom: 5px;
}
.mb4 {
	margin-bottom:4px;
}
.mb2 {
	margin-bottom: 2px;
}
.ml5 {
	margin-left: 5px!important;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mt15 {
	margin-top: 15px!important;
}
.mt20 {
	margin-top: 10px!important;
}
.mt46 {
	margin-top: 46px!important;
}
.mLR5 {
	margin:0 5px
}
.ml10 {
	margin-left:10px
}
.mb10 {
	margin-bottom:10px!important;
}
.mb20 {
	margin-bottom:20px!important;
}
.mt10 {
	margin-top:10px!important;
}
.m10a {
	margin:10px auto;
}
.ma {
	margin:0 auto;
}
.p4 {
	padding: 4px!important;
}
.p5 {
	padding: 5px!important;
}
.pl0 {
	padding-left:0px!important;
}
.p10 {
	padding: 10px;
}
.p15 {
	padding: 15px;
}
.pt50 {
	padding-top: 50px;
}
.pt5 {
	padding-top: 5px;
}
.pt0 {
	padding-top: 0px!important;
}
.pt10 {
	padding-top: 10px!important;
}
.pb5 {
	padding-bottom: 5px;
}
.pb30 {
	padding-bottom:30px!important;
}
.pb10 {
	padding-bottom: 10px!important;
}
.pl0 {
	padding-left: 0px!important;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left:10px;
}
.pr5 {
	padding-right: 5px;
}
.pb0 {
	padding-bottom:0px!important
}
.pr10 {
	padding-right:10px;
}
.plr15 {
	padding: 0 15px;
}
.f0 {
	font-size:0;
}
.ts2 {
	text-shadow:2px 2px 2px #666
}
.f12 {
	font-size: 12px!important;
	;
}
.f14 {
	font-size: 14px!important;
	;
}
.f16 {
	font-size: 1em!important;
}
.f18 {
	font-size: 1.125em!important;
}
.f20 {
	font-size: 20px!important;
}
.f22 {
	font-size: 22px!important;
}
.f24 {
	font-size: 26px!important;
}
.f34 {
	font-size: 2em!important;
}
.f14 {
	font-size:14px!important;
}
.f16 {
	font-size:16px!important;
}
.f18 {
	font-size:18px!important;
}
.rel {
	position:relative
}
.abs {
	position:absolute
}
.r20 {
	right:20px!important;
}
.btm0 {
	bottom:0!important;
}
.tdl {
	text-decoration:line-through
}
.fl {
	float:left
}
.fr {
	float:right
}
.fln {
	float:none!important;
}
.t0 {
	top:0!important;
}
.tc {
	text-align:center
}
.tr {
	text-align:right
}
.tj {
	text-align:justify
}
.vm {
	vertical-align:middle
}
.ti99 {
	text-indent:-99999px
}
.ted {
	text-decoration: underline;
}
.ovh {
	overflow:hidden
}
.b {
	font-weight: bold!important;
}
.nb {
	font-weight: normal;
}
.nbd {
	border:none!important;
	box-shadow:none!important;
}
.pct100, .pct90, .pct80, .pct70, .pct60, .pct50, .pct40, .pct30, .pct20, .pct10 {
	box-sizing: border-box;
}
.pct20 {
	width: 20%;
}
.pct40 {
	width: 40%;
}
.pct30 {
	width: 33.33333%;
}
.pct36 {
	width: 36%;
}
.pct64 {
	width: 64%;
}
.pct80 {
	width: 80%;
}
.pct90 {
	width: 90%;
}
.pct100 {
	width: 100%;
	display: block;
	float: none;
}
.pct60 {
	width: 60%;
}
.pct50 {
	width: 50%;
}
.pct70 {
	width: 70%;
}
.pct14 {
	width: 14.4444%;
}
.cb {
	color: #005394;
}
.lh18 {
	line-height: 1.125em;
}
.h33 {
	height:33px;
}
.disb {
	display:block!important;
}
.disn {
	display:none!important;
}
.db {
	display: block!important;
}
.blr1{
	border-left: 1px #EDEDED solid;
	border-right: 1px #EDEDED solid;}
.br1{
	border-right: 1px #EDEDED solid;}
/* colors */
.cwh {
	color:white!important;
}
.cGray {
	color:#ADADAD
}
.cb {
	color: #000;
}
.cg {
	color: #999;
}
.cgr {
	color: #B6EC8B!important
}
.cr {
	color: #E60000!important
}
.cbl {
	color: #09F!important
}
.cy {
	color: #FF9900!important
}
.cyl {
	color: #E9B735!important;
}
.co {
	color: #F60!important;
}
.czj {
	color: #93C!important;
}
.wh {
	color: #fff;
}
.lh24 {
	line-height:24px!important
}
.bgwh {
	background:#fff
}
.bgef {
	background:#efefef
}
.bge0 {
	background:#F5FFE0
}
.bgrd {
	background:#F14418;
	color:#FFF
}
.bgb {
	background:#55acef;
	color:#FFF
}
.bgg {
	background:#7bc351
}
.bgg a {
	color:#FFF!important;
}
.bgr {
	background:#f37872!important;
}
.bnr {
	background-repeat:no-repeat!important
}
/* clear */
.cl {
	clear:both;
}
.dib {
	display:block!important
}
.diib {
	display:inline-block!important
}
.inline-box {
	display:-webkit-box;
	display:-moz-box;
	display:box;
	display:-ms-box;
}
/*inline-block与float等宽列表*/
.inline_box {
	font-size: 0;/*letter-spacing:-4px;word-spacing: -1px;*/
	clear:both
}
.inline_two, .inline_three, .inline_four, .inline_five, .inline_six, .inline_any {
	display:inline-block;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align:top;
box-sizing: border-box;
	/*float:left;*/
*display:inline;
*zoom:1;
}
.float_two, .float_three, .float_four, .float_five, .float_six {
	float:left;
}
.inline_two, .float_two {
	width:50%;
}
.inline_three, .float_three {
	width: 33.3333%;
}
.inline_four, .float_four {
	width: 25%;
}
.inline_five, .float_five {
	width:19%;
}
.inline_fix {
	display:inline-block;
	width:100%;
	height:0;
	overflow:hidden;
}

.nav-bar {
    z-index: 9999
}

.nav-bar,.nav-bar .box {
    height: 2.8125rem;
    position: fixed
}

.nav-bar .box {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    line-height: 2.8125rem;
    text-align: center;
    border-bottom: 1px solid #d7d7d7;
    background-color: #fff
}

.nav-bar .login {
    position: absolute;
    right: 0;
    padding: 0 1.5rem;
    border-left: 1px solid #d7d7d7
}

.nav-bar .btn-back,.nav-bar .btn-back-2 {
    position: absolute;
    left: 0;
    padding: 0 1.5rem 0 .9375rem;
    height: 2.8125rem;
    display: none
}

.nav-bar .btn-more {
    position: absolute;
    float: right;
    right: 0;
    padding: 0 .625rem
}

.nav-bar .icon-caretLeft,.nav-bar .icon-more {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    box-sizing: border-box
}

.nav-bar .icon-caretLeft {
    color: #2d2d2d
}

.nav-bar .icon-caretLeft:after,.nav-bar .icon-caretLeft:before {
    content: '';
    pointer-events: none;
    width: .875rem;
    height: .125rem;
    position: absolute;
    bottom: 0;
    margin: auto 0;
    right: .125rem;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform-origin: right;
    transform-origin: right
}

.nav-bar .icon-caretLeft:before {
    top: -.25rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.nav-bar .icon-caretLeft:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.nav-bar .icon-more {
    color: #333;
    width: .3125rem;
    height: .3125rem;
    border-radius: 50%;
    box-shadow: inset 0 0 0 32px,0 -8px,0 8px;
    margin: 1.25rem .4375rem
}

.nav-bar .icon-more:after,.nav-bar .icon-more:before {
    content: '';
    pointer-events: none
}

.nav-bar h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 1.5rem
}

.header {
	height: 45px;
	top: 0;
	background-color: #55acef;
	color: #fff;
	z-index: 99999;
	border-bottom: 1px #1875B3 solid;
}
.header > h1 {
	margin: 0;
	line-height: 45px;
	font-size: 16px;
	text-align: center;
}
.header > a.back, a.menu, a.shopCart , a.shopHome {
	position: absolute;
	padding: 10px;
	font-size: 23px;
	width: 25px;
}

.header, .footer {
	position: fixed;
	left: 0;
	right: 0;
}

.footer {
	height: 46px;
	bottom: 0;
	z-index: 999;
	border-top: 1px #DDDCDC solid;
	background:#fff
}

.footer.proFooter {
	background: white;
	width: 100%;
	left: 0;
	border-top: 2px #333 solid;
	text-align: center;
	bottom: 0;
}

.footer > h4 {
	float: left;
	width: 25%;
	margin: 0;
	text-align: center;
}

.footer a {
	text-align: center;
	display: block;
	-webkit-transition: color .35s;
	transition: color .35s;
	color: #6B6B6B;
	font-size:12px;
	padding-top:4px;
}

.footer a.active {
	color: #2C566C;    
	background: #E4E4E4;
}

.flex1 {
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
}
.flex2 {
	-moz-box-flex: 2; /* Firefox */
	-webkit-box-flex: 2; /* Safari 和 Chrome */
	box-flex: 2;
}
.flex3 {
	-moz-box-flex:3.0; /* Firefox */
	-webkit-box-flex:3.0; /* Safari 和 Chrome */
	box-flex:3.0;
}
.w123 {
	width: 9em;
	max-width: 9em;
}
.w150 {
	width: 10em;
	max-width: 10em;
}
.animation {
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-edit {
        background-image:url(./images/icon_edit.png);
        background-size: 20px 20px
    }

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-empty-address {
        background-image:url(./images/icon_empty_address.png);
        background-size: 50px 56px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-search {
        background-image:url(./images/icon_search.png);
        background-size: 16px 16px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-address-search-clear {
        background-image:url(./images/icon_delete.png);
        background-size: 15px 15px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-address-search {
        background-image:url(./images/icon_search.png);
        background-size: 16px 16px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-positon {
        background-image:url(./images/icon_address.png);
        background-size: 13px 17px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-address-location {
        background-image:url(./images/icon_address.png);
        background-size: 16px 13px
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-device-pixel-ratio:2),only screen and (min-resolution:2dppx),only screen and (min-resolution:192dpi) {
    .icon-add-address {
        background-image:url(./images/icon_add.png);
        background-size: 24px 24px
    }
}


}