<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>选择门店</title>
    <link rel="stylesheet" href="../../model/bootstrap/css/bootstrap.min.css">
    <link href="../../model/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="./css/marketList.css">
</head>
<body>
<div class="content">
    <div class="card-list">
        <a class="card border-available-h" href="../../index.html">
            <div class="left-info">
                <div class="inner">
                    <img class="left-img" src="../../images/34.jpg">
                    <div class="right-index">
                        <p class="title">物美超市</p>
                        <p class="condition">地址：滨文路明德路口</p>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="inner">
                    <i class="fa fa-map-marker fa-2x details" style="display: block;"></i>
                </div>
            </div>
        </a>

        <a class="card border-available-h" href="../../index.html">
            <div class="left-info">
                <div class="inner">
                    <img class="left-img" src="../../images/34.jpg">
                    <div class="right-index">
                        <p class="title">华润万家</p>
                        <p class="condition">地址：滨文路明德路口</p>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="inner">
                    <i class="fa fa-map-marker fa-2x details" style="display: none;"></i>
                </div>
            </div>
        </a>

        <a class="card border-available-h" href="../../index.html">
            <div class="left-info">
                <div class="inner">
                    <img class="left-img" src="../../images/34.jpg">
                    <div class="right-index">
                        <p class="title">世纪华联超市</p>
                        <p class="condition">地址：滨文路明德路口滨文路明德</p>
                    </div>
                </div>
            </div>
            <div class="right-info">
                <div class="inner">
                    <i class="fa fa-map-marker fa-2x details" style="display: none;"></i>
                </div>
            </div>
        </a>
    </div>
</div>
</body>
</html>